In [197]:
import pandas as pd
import numpy as np
#from pandas import read_csv
import requests
from io import StringIO

url = "http://docs.google.com/spreadsheets/d/1bclX5PbqE8zR1-wOSM3ZTFa53sIC7RXqwty7Abmw9yQ/edit#gid=1724592523/2017_jun_final.csv"
response = requests.get(url)
# Перевірка статусу запиту
#if response.status_code == 200:
    #Якщо запит успішний, записати вміст файлу у локальний файл
    #with open("C:\\Users\\Igor\\2017_jun_final.csv", "wb") as f:
        #f.write(response.content)
    #print("Файл завантажено успішно")
#else:
    #print("Помилка при завантаженні файлу:", response.status_code)
    
table = pd.read_html('https://docs.google.com/spreadsheets/d/1bclX5PbqE8zR1-wOSM3ZTFa53sIC7RXqwty7Abmw9yQ/edit#gid=1724592523', encoding='utf-8')

#df = pd.read_csv(r"C:\Users\Igor\2017_jun_final.csv", delimiter=',', encoding='utf-8')
desired_table = table[0]
desired_table
# Виведення перших декількох рядків для перевірки
#print(desired_table.head())
rows, columns = desired_table.shape
print("\nКількість рядків:", rows)
print("Кількість стовпців:", columns)

print (desired_table.dtypes)

Кількість рядків: 101
Кількість стовпців: 28
Unnamed: 0    float64
A              object
B              object
C              object
D              object
E              object
F              object
G              object
H              object
I              object
J              object
K              object
L              object
M              object
N              object
O              object
P              object
Q              object
R              object
S              object
T              object
U              object
V              object
W              object
X              object
Y              object
Z             float64
AA            float64
dtype: object

In [163]:
# Порахувати кількість пропущених значень в кожному стовпці
#Спочатку видаляємо стовпець Unnamed:0
desired_table = desired_table.drop(columns=desired_table.columns[0])
print(desired_table)
missing_counts = desired_table.isnull().sum()
print("кількість пропущених значень в кожному стовпці:")
#missing_counts = missing_counts[1:]
print(missing_counts)
# Розмір таблиці
total_rows = len(desired_table)

# Порахувати частку пропущених значень в кожному стовпці
missing_fraction = missing_counts / total_rows

# Вивести результат
print("Частка пропусків в кожній колонці:")
print(missing_fraction)

                            B                   C              D  \
0                      Посада  Мова програмування  Спеціалізація
1                         NaN                 NaN            NaN
2          Junior QA engineer                 NaN      Manual QA
3          Junior QA engineer                 NaN      Manual QA
4           Software Engineer             C#/.NET            NaN
..                        ...                 ...            ...
96          Software Engineer          JavaScript            NaN
97   Junior Software Engineer          JavaScript            NaN
98            Project manager                 NaN            NaN
99          Software Engineer                Java            NaN
100         Software Engineer          JavaScript            NaN

                           E                                 F  \
0    Загальний досвід роботи  Досвід роботи на поточному місці
1                        NaN                               NaN
2                        0.5                               0.5
3            менше 3 місяців                   менше 3 місяців
4                          4                                 1
..                       ...                               ...
96                         4                               0.5
97                       0.5                               0.5
98                         2                                 1
99                         2                                 1
100                        4                               0.5

                      G                             H       I  \
0    Зарплата на місяць  Зміна зарплати за 12 місяців   Місто
1                   NaN                           NaN     NaN
2                   400                             0  Харків
3                   430                           130  Харків
4                  2500                           800    Київ
..                  ...                           ...     ...
96                 1700                           300  Харків
97                  640                             0    Київ
98                 1000                           250    Київ
99                 1200                           400    Київ
100                2600                          1800    Київ

                    J              K  ...                                  R  \
0     Розмір компанії   Тип компанії  ...                  Предметна область
1                 NaN            NaN  ...                                NaN
2          до 10 осіб  Аутсорсингова  ...                      iOS,eCommerce
3    більше 1000 осіб  Аутсорсингова  ...                       Веб-розробка
4        до 1000 осіб  Аутсорсингова  ...  Веб-розробка,Корпоративні системи
..                ...            ...  ...                                ...
96       до 1000 осіб  Аутсорсингова  ...                       Веб-розробка
97         до 50 осіб  Аутсорсингова  ...  Веб-розробка,Корпоративні системи
98         до 10 осіб     Продуктова  ...                       Веб-розробка
99       до 1000 осіб  Аутсорсингова  ...                           Embedded
100  більше 1000 осіб  Аутстафінгова  ...                       Веб-розробка

                       S                                                  T  \
0        Дата заповнення                                         User.Agent
1                    NaN                                                NaN
2    12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3    12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
4    12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
..                   ...                                                ...
96   12/06/2017 13:12:42  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
97   12/06/2017 13:12:53  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
98   12/06/2017 13:12:54  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
99   12/06/2017 13:12:55  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
100  12/06/2017 13:12:55  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...

       U                V       W       X    Y   Z  AA
0    exp  current_job_exp  salary  Валюта  cls NaN NaN
1    NaN              NaN     NaN     NaN  NaN NaN NaN
2    0.5              0.5     400     NaN   QA NaN NaN
3      0                0     430     NaN   QA NaN NaN
4      4                1    2500     NaN  DEV NaN NaN
..   ...              ...     ...     ...  ...  ..  ..
96     4              0.5    1700     NaN  DEV NaN NaN
97   0.5              0.5     640     NaN  DEV NaN NaN
98     2                1    1000     NaN   PM NaN NaN
99     2                1    1200     NaN  DEV NaN NaN
100    4              0.5    2600     NaN  DEV NaN NaN

[101 rows x 26 columns]
кількість пропущених значень в кожному стовпці:
B       1
C      37
D      79
E       1
F       1
G       1
H       1
I       1
J       1
K       1
L       1
M       1
N       1
O       8
P       1
Q       1
R       4
S       1
T       1
U       1
V       1
W       1
X     100
Y      11
Z     101
AA    101
dtype: int64
Частка пропусків в кожній колонці:
B     0.009901
C     0.366337
D     0.782178
E     0.009901
F     0.009901
G     0.009901
H     0.009901
I     0.009901
J     0.009901
K     0.009901
L     0.009901
M     0.009901
N     0.009901
O     0.079208
P     0.009901
Q     0.009901
R     0.039604
S     0.009901
T     0.009901
U     0.009901
V     0.009901
W     0.009901
X     0.990099
Y     0.108911
Z     1.000000
AA    1.000000
dtype: float64

In [98]:
# Видалення стовпців з пропусками, крім стовпця "Мова програмування"


data_cleaned = desired_table.drop(columns=desired_table.columns.difference(['C']))
data_cleaned

              C
1           NaN
2           NaN
3           NaN
4       C#/.NET
5    JavaScript
..          ...
96   JavaScript
97   JavaScript
98          NaN
99         Java
100  JavaScript

[100 rows x 1 columns]

In [99]:
# Перевірка, що залишився тільки стовпець "Мова програмування"
print("Залишився стовпець 'Мова програмування':")
print(data_cleaned.columns)

# Порахувати кількість пропущених значень в кожному стовпці
missing_counts = data_cleaned.isnull().sum()

# Розмір таблиці
total_rows = len(data_cleaned)

# Порахувати частку пропущених значень в кожному стовпці
missing_fraction = missing_counts / total_rows

# Вивести результат
print("Частка пропусків в кожній колонці:")
print(missing_fraction)

Залишився стовпець 'Мова програмування':
Index(['C'], dtype='object')
Частка пропусків в кожній колонці:
C    0.37
dtype: float64

In [124]:
# Видалення рядків з пропущеними значеннями
#data_cleaned_rows = desired_table.dropna()
data_cleaned_rows = data_cleaned.dropna()
print(data_cleaned_rows)
# Виведення нового розміру таблиці
print("Новий розмір таблиці:", data_cleaned_rows.shape)

              C
4       C#/.NET
5    JavaScript
6    JavaScript
8       C#/.NET
9           C++
..          ...
95   Ruby/Rails
96   JavaScript
97   JavaScript
99         Java
100  JavaScript

[63 rows x 1 columns]
Новий розмір таблиці: (63, 1)

In [189]:
# Створення нової таблиці,в якій будуть тільки рядки зі спеціалістами, з мовою програмування - Python

#python_data = data_cleaned_rows.loc[data_cleaned_rows['C'] == 'Python']
#print(python_data)
#unique_values = data_cleaned_rows['C'].unique()
#print(unique_values)
#python_data = desired_table.loc[desired_table['C'] == 'Python', 'B']
print(python_data)
#python_data = desired_table[desired_table['C'] == 'Python']
print(python_data.shape)
python_data

         C
14  Python
70  Python
89  Python
(3, 1)

         C
14  Python
70  Python
89  Python

In [187]:
rows, columns = python_data.shape
print("\nКількість рядків:", rows, "Кількість стовпців:", columns)

Кількість рядків: 3 Кількість стовпців: 1

In [190]:
# Групування за стовпцем 'B'
grouped_data = table.groupby('B')
# Для виведення всіх груп та їх вмісту:
for group_name, group_data in grouped_data:
    print(group_name)
    print(group_data)

AttributeError: 'list' object has no attribute 'groupby'

In [56]:
df = pd.DataFrame(python_data)

# Групуємо дані за стовпчиком "Посада"
grouped = df.groupby('B')

# Виводимо інформацію про групи
for posada, group_data in grouped:
    print("Посада:", posada)
    print(group_data)
    print()

Посада: Junior Software Engineer
    Unnamed: 0   A                         B       C    D    E    F    G  H  \
89        89.0  88  Junior Software Engineer  Python  NaN  0.5  0.5  600  0

       I  ...                       R                    S  \
89  Київ  ...  Веб-розробка,eCommerce  12/06/2017 13:12:25

                                                    T    U    V    W    X  \
89  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  0.5  0.5  600  NaN

      Y   Z  AA
89  DEV NaN NaN

[1 rows x 28 columns]

Посада: Software Engineer
    Unnamed: 0   A                  B       C    D    E                F    G  \
14        14.0  13  Software Engineer  Python  NaN    1  менше 3 місяців  800
70        70.0  69  Software Engineer  Python  NaN  1.5              0.5  900

      H     I  ...                  R                    S  \
14  200  Київ  ...  Веб-розробка,Інше  12/06/2017 13:05:54
70  900  Київ  ...       Веб-розробка  12/06/2017 13:11:17

                                                    T    U    V    W    X  \
14  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...    1    0  800  NaN
70  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  1.5  0.5  900  NaN

      Y   Z  AA
14  DEV NaN NaN
70  DEV NaN NaN

[2 rows x 28 columns]

In [57]:
df = pd.DataFrame(python_data)

# Групуємо дані за стовпчиком "Посада" та виконуємо агрегацію
aggregated_df = df.groupby('B').agg({'G': ['min', 'max']})

print(aggregated_df)

                            G
                          min  max
B
Junior Software Engineer  600  600
Software Engineer         800  900

In [67]:
df = pd.DataFrame(python_data)
# Функція для розрахунку середнього значення зарплати на місяць
# Функція для розрахунку середнього значення зарплати на місяць
def fill_avg_salary(salary: int) -> float:
    return salary // 12  # Ділимо націло, оскільки цілий рік
df['G'] = df['G'].astype(int)
# Застосовуємо функцію до кожного рядка за допомогою методу apply
df['avg'] = df['G'].apply(fill_avg_salary).astype(int)

print(df)

    Unnamed: 0   A                         B       C    D    E  \
14        14.0  13         Software Engineer  Python  NaN    1
70        70.0  69         Software Engineer  Python  NaN  1.5
89        89.0  88  Junior Software Engineer  Python  NaN  0.5

                  F    G    H     I  ...                    S  \
14  менше 3 місяців  800  200  Київ  ...  12/06/2017 13:05:54
70              0.5  900  900  Київ  ...  12/06/2017 13:11:17
89              0.5  600    0  Київ  ...  12/06/2017 13:12:25

                                                    T    U    V    W    X  \
14  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...    1    0  800  NaN
70  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  1.5  0.5  900  NaN
89  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  0.5  0.5  600  NaN

      Y   Z  AA avg
14  DEV NaN NaN  66
70  DEV NaN NaN  75
89  DEV NaN NaN  50

[3 rows x 29 columns]

In [192]:
description = df['avg'].describe()

print(description)

count     3.000000
mean     63.666667
std      12.662280
min      50.000000
25%      58.000000
50%      66.000000
75%      70.500000
max      75.000000
Name: avg, dtype: float64

In [193]:
df.to_csv(r'C:\Users\Igor\employee_data.csv', index=False)